services:
  comfyui:
    image: ghcr.io/saladtechnologies/comfyui-api:comfy0.3.34-test-image
    volumes:
      - type: bind
        source: ./bin
        target: /app/bin
      - type: bind
        source: ./test/docker-image/models
        target: /opt/ComfyUI/models
    command: ["/app/bin/comfyui-api"]
    build:
      context: ./test/docker-image
      dockerfile: Dockerfile
      args:
        - comfy_version=0.3.34
    ports:
      - "3000:3000"
      - "8188:8188"
    environment:
      LOG_LEVEL: "debug"
    #   ALWAYS_RESTART_COMFYUI: "true"
    #   SYSTEM_WEBHOOK_URL: "http://host.docker.internal:1234/system"
    #   SYSTEM_WEBHOOK_EVENTS: all
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [ gpu ]
              count: all

